Repository CS180-spring/cs180-23-quantum, pull requests merged in 2023-05, with the labels that each got.

#67 Backend + crow
  Backend/build.sh
  Backend/clean.sh
  Backend/collection.cpp
  Backend/collection.h
  Backend/collections.cpp
  Backend/collections.h
  Backend/databases.cpp
  Backend/databases.h
  Backend/document.cpp
  Backend/document.h
  Backend/documents.cpp
  Backend/documents.h
  Backend/filesystemobject.cpp
  Backend/filesystemobject.h
  Backend/main.cpp
  Backend/mastercontainer.cpp
  Backend/mastercontainer.h
  Backend/nlohmann/json.hpp
  Backend/nlohmann/json_fwd.hpp
  CMakeLists.txt
Labels: backend, Actionable Task

#72 CRUD is done. Some bugs are fixed.
  Backend/collection.cpp
  Backend/collection.h
  Backend/filesystemobject.cpp
  Backend/filesystemobject.h
  Backend/main.cpp
Labels: backend, Actionable Task

#73 Added CORS Handlers - Needs New Dependency (Allows for IP Exposure)
  Backend/main.cpp
Labels: bug, backend

#74 Frontend Connection Completed - Read/Write Successful
  Frontend/QuantumDB/package-lock.json
  Frontend/QuantumDB/package.json
  Frontend/QuantumDB/src/App.js
  Frontend/QuantumDB/src/components/Document.js
  Frontend/QuantumDB/src/components/Folder.js
  Frontend/QuantumDB/src/components/Layout.js
  Frontend/QuantumDB/src/components/Navbar.js
  Frontend/QuantumDB/src/components/Operations.js
  Frontend/QuantumDB/src/components/Sidebar.js
  Frontend/QuantumDB/src/functions/CreateDocument.js
  Frontend/QuantumDB/src/functions/CreateFolder.js
  Frontend/QuantumDB/src/functions/ReadCollection.js
  Frontend/QuantumDB/src/pages/Collection.js
  Frontend/QuantumDB/src/pages/Database.js
  Frontend/QuantumDB/src/pages/Profile.js
  Frontend/QuantumDB/tailwind.config.js
Labels: frontend, Actionable Task

#75 Fixed Infinite Read Bug
  Frontend/QuantumDB/src/index.js
  Frontend/QuantumDB/src/pages/Database.js
Labels: bug, frontend

#76 Added error handling for crow routes. Few bugs might exist.
  Backend/collection.cpp
  Backend/main.cpp
Labels: bug, backend

#77 Completed CRUD operations for Frontend
  Frontend/QuantumDB/src/functions/DeleteDocument.js
  Frontend/QuantumDB/src/functions/DeleteFolder.js
  Frontend/QuantumDB/src/functions/UpdateDocument.js
  Frontend/QuantumDB/src/functions/UpdateFolder.js
Labels: frontend

#80 Error + Search
  Backend/build.sh
  Backend/collection.cpp
  Backend/filesystemobject.cpp
  Backend/filesystemobject.h
  Backend/main.cpp
  Backend/query.cpp
  Backend/query.h
Labels: backend

#81 CRUD Operation Components
  Frontend/QuantumDB/package-lock.json
  Frontend/QuantumDB/package.json
  Frontend/QuantumDB/src/components/Background.js
  Frontend/QuantumDB/src/components/CreateButton.js
  Frontend/QuantumDB/src/components/Document.js
  Frontend/QuantumDB/src/components/Folder.js
  Frontend/QuantumDB/src/components/Navbar.js
  Frontend/QuantumDB/src/components/Operations.js
  Frontend/QuantumDB/src/functions/CreateDocument.js
  Frontend/QuantumDB/src/functions/CreateFolder.js
  Frontend/QuantumDB/src/functions/DeleteDocument.js
  Frontend/QuantumDB/src/functions/DeleteFolder.js
  Frontend/QuantumDB/src/functions/ReadCollection.js
  Frontend/QuantumDB/src/functions/UpdateDocument.js
  Frontend/QuantumDB/src/functions/UpdateFolder.js
  Frontend/QuantumDB/src/pages/Collection.js
  Frontend/QuantumDB/src/pages/Database.js
  Frontend/QuantumDB/tailwind.config.js
Labels: frontend, Actionable Task

#85 Import and export
  Backend/collection.cpp
  Backend/main.cpp
  Backend/query.cpp
Labels: backend

#86 Added Search Page and Function
  Frontend/QuantumDB/src/App.js
  Frontend/QuantumDB/src/components/Background.js
  Frontend/QuantumDB/src/components/Document.js
  Frontend/QuantumDB/src/components/Folder.js
  Frontend/QuantumDB/src/components/Navbar.js
  Frontend/QuantumDB/src/components/Sidebar.js
  Frontend/QuantumDB/src/functions/CreateDocument.js
  Frontend/QuantumDB/src/functions/CreateFolder.js
  Frontend/QuantumDB/src/functions/DeleteDocument.js
  Frontend/QuantumDB/src/functions/DeleteFolder.js
  Frontend/QuantumDB/src/functions/ReadCollection.js
  Frontend/QuantumDB/src/functions/UpdateDocument.js
  Frontend/QuantumDB/src/functions/UpdateFolder.js
  Frontend/QuantumDB/src/pages/Collection.js
  Frontend/QuantumDB/src/pages/Database.js
  Frontend/QuantumDB/src/pages/Document.js
  Frontend/QuantumDB/src/pages/Search.js
  README.md
Labels: frontend, Actionable Task

#87 Import + Errors
  Backend/filesystemobject.h
  Backend/main.cpp
Labels: backend

#89 Created ReadFile function and error handling for frontend functions
  Frontend/QuantumDB/src/functions/CreateDocument.js
  Frontend/QuantumDB/src/functions/CreateFolder.js
  Frontend/QuantumDB/src/functions/DeleteDocument.js
  Frontend/QuantumDB/src/functions/DeleteFolder.js
  Frontend/QuantumDB/src/functions/ReadCollection.js
  Frontend/QuantumDB/src/functions/ReadFile.js
  Frontend/QuantumDB/src/functions/UpdateDocument.js
  Frontend/QuantumDB/src/functions/UpdateFolder.js
Labels: frontend, Actionable Task

#90 fixed ImportFile to send content in body
  Frontend/QuantumDB/src/functions/CreateDocument.js
  Frontend/QuantumDB/src/functions/CreateFolder.js
  Frontend/QuantumDB/src/functions/DeleteDocument.js
  Frontend/QuantumDB/src/functions/DeleteFolder.js
  Frontend/QuantumDB/src/functions/DownloadDocument.js
  Frontend/QuantumDB/src/functions/ImportFile.js
  Frontend/QuantumDB/src/functions/ReadCollection.js
  Frontend/QuantumDB/src/functions/ReadFile.js
  Frontend/QuantumDB/src/functions/UpdateDocument.js
  Frontend/QuantumDB/src/functions/UpdateFolder.js
  Frontend/QuantumDB/src/pages/Collection.js
  Frontend/QuantumDB/src/pages/Database.js
  Frontend/QuantumDB/src/pages/Search.js
Labels: frontend, Actionable Task
