Repository CS180-spring/cs180-23-quantum, pull requests merged in 2023-04, with the labels that each got.

#43 CRUD Operations
  Backend/README.md
  Backend/collections.cpp
  Backend/collections.h
  Backend/databases.cpp
  Backend/databases.h
  Backend/documents.cpp
  Backend/documents.h
  Backend/main.cpp
Labels: backend

#45 Set Up Frontend Build Environment
  Frontend/QuantumDB/.eslintrc.cjs
  Frontend/QuantumDB/.gitignore
  Frontend/QuantumDB/index.html
  Frontend/QuantumDB/package-lock.json
  Frontend/QuantumDB/package.json
  Frontend/QuantumDB/postcss.config.js
  Frontend/QuantumDB/src/App.css
  Frontend/QuantumDB/src/App.jsx
  Frontend/QuantumDB/src/index.css
  Frontend/QuantumDB/src/main.jsx
  Frontend/QuantumDB/tailwind.config.js
  Frontend/QuantumDB/vite.config.js
Labels: frontend, Actionable Task

#56 Added filesystem support for CRUD operations
  Backend/a.exe
  Backend/collections.cpp
  Backend/collections.h
  Backend/databases.cpp
  Backend/databases.h
  Backend/main.cpp
  Backend/mastercontainer.cpp
  Backend/mastercontainer.h
  CMakeLists.txt
Labels: backend, Actionable Task

#58 Added Database View
  Frontend/QuantumDB/components/FixedSidebar.jsx
  Frontend/QuantumDB/components/Sidebar.jsx
  Frontend/QuantumDB/package-lock.json
  Frontend/QuantumDB/package.json
  Frontend/QuantumDB/public/index.html
  Frontend/QuantumDB/src/App.js
  Frontend/QuantumDB/src/components/FixedSidebar.js
  Frontend/QuantumDB/src/components/Folder.js
  Frontend/QuantumDB/src/components/HamburgerMenuButton/HamburgerButton.css
  Frontend/QuantumDB/src/components/Navbar.js
  Frontend/QuantumDB/src/components/Operations.js
  Frontend/QuantumDB/src/components/Sidebar.js
  Frontend/QuantumDB/src/pages/Collection.js
  Frontend/QuantumDB/src/pages/Dashboard.js
  Frontend/QuantumDB/src/pages/Database.js
  Frontend/QuantumDB/src/pages/Login.js
  Frontend/QuantumDB/src/pages/Profile.js
  Frontend/QuantumDB/src/pages/TablePage.js
Labels: frontend, Actionable Task
